<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.jpg" type="image/jpeg" /> 
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Bienvenido a nuestro juego</p>

    <a href='/quizes/question'>comienza a jugar </a>
  </body>
</html>
