<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.jpg" type="image/jpeg" /> 
  </head>
  <body>
    <h1>Respuesta: <%= respuesta %></h1>

    
    <a href="/quizes/question"> intentalo otra vez </a>


  </body>

</html>
